.siteHeader {    
    background-color: $white;   
    @include box-shadow($headGrey);      
    
    .logo{
        max-width: 235px; 
        padding:3*$pad 0;        
    }        
}

#header_gbl{
    position: sticky;
    top: 0;
    z-index: 20;
    background: #fff;
    @include box-shadow(0 4px 20px -10px rgba(#000, 0.2) );
    @include transitions(padding, 300ms); 
}




#mainNav{
    padding:4*$pad 0;    
}



    







